body {
    height: 100%;
}

.ng-scope {
    height: 100%;
}

.social-nav {
    position: fixed;
    top: 0;
    background-color: #000000;
    height: 6%;
    width: 100%;

    .social-nav-container {
        width: 60%;
        margin: auto;
        height: 100%;

        .social-nav-list {
            width: 15%;
            height: 100%;

            .social-link {
                width: 30px;
            }
        }

        .social-image {
            background-color: #fff;
            border-radius: 6px;
        }
    }
}


.main-nav {
    position: fixed;
    top: 6%;
    height: 12%;
    width: 100%;

    .nav-list {
        height: 100%;
        width: 60%;
        margin: auto;

        #logo-item {
            height: 100%;
            margin-right: 5%;

            #logo {
                width: 100%;
            }
        }

        a {
            text-decoration: none;
            color: #000000;
        }
    }
}

.content-container {
    background-image: url('../images/background.png');
}

.content-alt {
    background-image: url('../images/background_plain.png')
}

.content-container, .content-alt {
    position: fixed;
    top: 18%;
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;

    .main {

        width: 60%;
        margin: auto;
        background-color: transparent;

        .bio-content {
            width: 50%;

            h2 {
                margin-bottom: 1px;
                font-size: 1.5vw;
            }

            .bio-divider {
                border-width: 4px;
                border-top-color: #000000;
            }

            p {
                font-size: 0.85vw;
                line-height: 1.5vw;
            }

            .bio-image {
                width: 80%;
                margin: 5% 5% 5% 15%;
            }
        }
    }

    #home-main {
        p {
            width: 40%;
            margin: 10% 10%;
            line-height: 2.5vw;
            font-size: 1.0vw;
        }
    }
}