<div class="content-alt">
    <md-content class="main" layout="row">
        <md-list layout="column">
                <md-list-item ng-repeat="video in video.videos">
                    <img ng-src="{{video.imageUrl}}" ng-if="!video.play" ng-click="video.play = true">
                    <iframe ng-if="video.play" iframe width="400" height="225" ng-src="{{video.url}}" frameborder="0" allowfullscreen="" class="youtube"></iframe>
                    <p>{{video.title}}</p>
                </md-list-item>
        </md-list>
    </md-content>
</div>